@using RSystem.App_LocalResources.Recruit
@model RSystem.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Model.Greeting;
}

<div class="warning-box white">
    @Home.Warning
</div>

<div class="row py-20">
    <div class="col-md-7 px-25">
        <a href="@Url.Action("Data","Home",new{area="Recruit"})">
            <div class="tile @Model.DataStatus">
                <span class="icon">1</span>
                @Home.Data
            </div>
        </a>
        <a href="@Url.Action("Photo","Home",new{area="Recruit"})">
            <div class="tile @Model.PhotoStatus">
                <span class="icon">2</span>
                @Home.Photo
            </div>
        </a>
        <a href="@Url.Action("Education","Home",new{area="Recruit"})">
            <div class="tile @Model.EducationStatus">
                <span class="icon">3</span>
                @Home.Education
            </div>
        </a>
        <a href="@Url.Action("Preferences","Home",new{area="Recruit"})">
            <div class="tile @Model.PreferenceStatus">
                <span class="icon">4</span>
                @Home.Courses
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <p id="tiles-hint">
            @Home.Hint
        </p>
    </div>
</div>
<p class="p-20" id="remind-box">
    @Home.Hint2 <a href="#" class="highlight">@Home.Form</a>.
</p>


@section DedicatedStyles
{
    <link rel="stylesheet" href="~/Content/css/HomeIndex.css" />
}
